@import "./bulma/bulma.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $family-primary;
  background-color: $grey-lightest;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
